﻿@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: "OfficinaSansBook";
    src: url("../fonts/Officina/OfficinaSansBook/OfficinaSansBook.eot");
    src: url("../fonts/Officina/OfficinaSansBook/OfficinaSansBook.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Officina/OfficinaSansBook/OfficinaSansBook.woff") format("woff"),
    url("../fonts/Officina/OfficinaSansBook/OfficinaSansBook.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OfficinaSansBookItalic";
    src: url("../fonts/Officina/OfficinaSansBookItalic/OfficinaSansBookItalic.eot");
    src: url("../fonts/Officina/OfficinaSansBookItalic/OfficinaSansBookItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Officina/OfficinaSansBookItalic/OfficinaSansBookItalic.woff") format("woff"),
    url("../fonts/Officina/OfficinaSansBookItalic/OfficinaSansBookItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OfficinaSansBold";
    src: url("../fonts/Officina/OfficinaSansBold/OfficinaSansBold.eot");
    src: url("../fonts/Officina/OfficinaSansBold/OfficinaSansBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Officina/OfficinaSansBold/OfficinaSansBold.woff") format("woff"),
    url("../fonts/Officina/OfficinaSansBold/OfficinaSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OfficinaSansBoldItalic";
    src: url("../fonts/Officina/OfficinaSansBoldItalic/OfficinaSansBoldItalic.eot");
    src: url("../fonts/Officina/OfficinaSansBoldItalic/OfficinaSansBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Officina/OfficinaSansBoldItalic/OfficinaSansBoldItalic.woff") format("woff"),
    url("../fonts/Officina/OfficinaSansBoldItalic/OfficinaSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OfficinaSansBlack";
    src: url("../fonts/Officina/OfficinaSansBlack/OfficinaSansBlack.eot");
    src: url("../fonts/Officina/OfficinaSansBlack/OfficinaSansBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Officina/OfficinaSansBlack/OfficinaSansBlack.woff") format("woff"),
    url("../fonts/Officina/OfficinaSansBlack/OfficinaSansBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OfficinaSansBlackItalic";
    src: url("../fonts/Officina/OfficinaSansBlackItalic/OfficinaSansBlackItalic.eot");
    src: url("../fonts/Officina/OfficinaSansBlackItalic/OfficinaSansBlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Officina/OfficinaSansBlackItalic/OfficinaSansBlackItalic.woff") format("woff"),
    url("../fonts/Officina/OfficinaSansBlackItalic/OfficinaSansBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OfficinaSansExtraBold";
    src: url("../fonts/Officina/OfficinaSansExtraBold/OfficinaSansExtraBold.eot");
    src: url("../fonts/Officina/OfficinaSansExtraBold/OfficinaSansExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Officina/OfficinaSansExtraBold/OfficinaSansExtraBold.woff") format("woff"),
    url("../fonts/Officina/OfficinaSansExtraBold/OfficinaSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OfficinaSansExtraBoldItalic";
    src: url("../fonts/Officina/OfficinaSansExtraBoldItalic/OfficinaSansExtraBoldItalic.eot");
    src: url("../fonts/Officina/OfficinaSansExtraBoldItalic/OfficinaSansExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Officina/OfficinaSansExtraBoldItalic/OfficinaSansExtraBoldItalic.woff") format("woff"),
    url("../fonts/Officina/OfficinaSansExtraBoldItalic/OfficinaSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OfficinaSansMedium";
    src: url("../fonts/Officina/OfficinaSansMedium/OfficinaSansMedium.eot");
    src: url("../fonts/Officina/OfficinaSansMedium/OfficinaSansMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Officina/OfficinaSansMedium/OfficinaSansMedium.woff") format("woff"),
    url("../fonts/Officina/OfficinaSansMedium/OfficinaSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OfficinaSansMediumItalic";
    src: url("../fonts/Officina/OfficinaSansMediumItalic/OfficinaSansMediumItalic.eot");
    src: url("../fonts/Officina/OfficinaSansMediumItalic/OfficinaSansMediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Officina/OfficinaSansMediumItalic/OfficinaSansMediumItalic.woff") format("woff"),
    url("../fonts/Officina/OfficinaSansMediumItalic/OfficinaSansMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #f5f3e7;
    margin: 0;
    padding: 0;
    font-family: "OfficinaSansBook";
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "OfficinaSansBold";
}

h2 {
    font-size: 1.4em;
}

img {
    border: 0px;
}

.main {
    margin: 0 auto;
    /*width: 1114px;*/
    width: 99%;
    min-width: 1150px;
    max-width: 1600px;
    min-height: 1000px;
    position: relative;
    height: auto;
    border-color: #252423;
    border-style: none dotted none dotted;
    border-width: 2px;
}

.main-left_menu {
    position: fixed;
    width: 81px;
    height: 50.5em;
    z-index: 3;
    background-image: url(../img/menu/bgB.png);
    margin-left: 8px;
    background-position: bottom;
    background-repeat: no-repeat;
    letter-spacing: 0.1em;
}

.main-left_menu-item {
    width: 81px;
    text-align: center;
    color: #fff;
    margin-top: 2em;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 0;
}

.main-left_menu-item__calc {
    letter-spacing: 0 !important;
}

.main-left_menu-item span {
    display: inline-block;
    width: 70px;
    margin-top: 5px;
}

.main-left_menu-item:hover {
    cursor: pointer;
}

.main-left_menu-item img {
    margin-bottom: 3px;
    display: block;
    margin: 0 auto;
}

.main-left_menu-item_group {
    margin-top: 8em;
    margin-bottom: 8em;
}

.right_panel {
    position: absolute;
    top: 0;
    right: 0;
}

.main-right_panel {
    position: fixed;
    transform: translateX(-102.5%);
    /*position: absolute;
    top: 0;
    right: 7px;*/
    width: 18.6%;
    max-width: 298px;
    min-height: 169px;
    z-index: 3;
    background-image: url(../img/menu/right-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main-right_panel-item {
    margin-left: 8.2%;
    width: 87.8%;
    border-bottom: 2px #FFFFFF dotted;
    color: #fff;
    font-size: 1.2em;
    margin-top: 15px;
    line-height: 1em;
    padding-bottom: 3px;
    margin-bottom: -10px;
    letter-spacing: 0.05em;
}

.main-right_panel-item-phone {
    width: 67%;
    overflow: hidden;
    padding-left: 5px;
    display: inline-block;
    border-bottom: 2px #fff dotted;
    padding-bottom: 4px;
}

.main-right_panel-item-phone span {
    display: block;
    margin-bottom: 0.15em;
    padding: 0px;
}

.main-right_panel-item-phone-phone_1 {
    letter-spacing: 0.075em;
}

.main-right_panel-item-phone-phone_2 {
    letter-spacing: 0.095em;
}

.main-right_panel-send {
    color: #fff;
    margin-left: 73%;
    font-size: 1.1em;
    margin-top: 3px;
    padding-top: 7px;
    padding-left: 7px;
    z-index: 2;
    width: 44px;
    letter-spacing: 0.1em;
}

.main-right_panel-send:hover {
    cursor: pointer;
}

.shapka {
    position: absolute;
    top: 0;
    left: 50%;
}

.main-shapka {
    /*position: absolute;*/
    position: fixed;
    transform: translateX(-60.2%);
    /*left: 9%;
    top: 0;*/
    width: 68%;
    max-width: 1090px;
    z-index: 3;
    padding-bottom: 15px;
    border-bottom: 2px #252423 dotted;
    min-width: 717px;
    background-color: #f5f3e7;
}

.main-shapka-logo {
    margin-top: 18px;
    float: left;
}

.main-shapka-textbox1 {
    width: 40%;
    float: right;
    position: relative;
    color: #000;
}

.main-shapka-textbox1-city {
    width: 97%;
    border-bottom: 2px #000000 dotted;
    padding-left: 7px;
    font-weight: 400;
    padding-bottom: 5px;
    letter-spacing: 0.3em;
    margin-top: 6.5%;
    font-size: 1.1em;
}

.main-shapka-textbox1-desc {
    font-size: 0.85em;
    padding-left: 7px;
    padding-top: 6px;
    letter-spacing: 0.2em;
}

.main-shapka-textbox2 {
    width: 24%;
    float: right;
    position: relative;
}

.main-shapka-textbox2-text::before {
    content: "•";
    color: #ec691c;
    font-size: 25px;
    display: block;
    float: left;
    margin-right: 7px;
    font-style: normal !important;
    margin-top: 7px;
}

.main-shapka-textbox2-text {
    font-family: "OfficinaSansBookItalic";
    color: #866b50;
    margin-top: 13%;
    font-size: 1.1em;
    margin-left: 0px;
    letter-spacing: 0.05em;
}

.main-shapka-textbox2-text .first-row {
    letter-spacing: 0.07em;
}

.main-right_panel-novelties {
    text-transform: uppercase;
    font-size: 1.2em;
    /*width: 73.1%;*/
    margin-left: 20px;
    margin-top: 55px;
    letter-spacing: 0.1em;
    margin-bottom: -20px;
}

.main-right_panel-novelties::before {
    content: "•";
    color: #ec691c;
    font-size: 30px;
    display: block;
    float: left;
    margin-right: 0.6em;
    margin-top: 5px;
    margin-left: 0.5em;
}

.main-right_panel-novelties_items {
    width: 139px;
    text-align: right;
    border-left: 2px #252423 dotted;
    margin-left: 2.6em;
    margin-top: 15px;
    padding-top: 35px;
}

.main-right_panel-novelties_items__nav {
    margin-left: 23%;
    width: 100%;
    margin-top: 1.5em;
}

.main-right_panel-novelties_items__nav > span {
    display: inline-block;
    width: 1.12em;
    height: 1.12em;
    background-color: #cab485;
    border-radius: 1em;
    margin-right: 0.5em;
}

.main-right_panel-novelties_items__nav > span:hover {
    cursor: pointer;
}

.main-right_panel-novelties_items__nav > .active {
    background-color: #d96210 !important;
}

.main-right_panel-novelties_items img {
    margin-bottom: 20px;
    width: 100%;
    margin-left: 3.4em;
    -webkit-filter: sepia(100%);
}

.main-right_panel-novelties_items img:hover {
    -webkit-filter: none;
    cursor: pointer;
}

.main-content {
    position: absolute;
    top: 9.7em;
    left: 9%;
    width: 68%;
}

.main-content-slider {
    position: relative;
    width: 94%;
    background-image: url(../img/slider/new/1.png);
    background-repeat: no-repeat;
    background-size: 100% 98%;
    margin: 1em auto 4em auto;
}

.main-content-slider img {
    width: 100%;
    visibility: hidden;
}

.main-content-slider-item {
    color: #000;
    text-transform: uppercase;
    position: absolute;
    font-size: 1.3em;
    letter-spacing: 0.1em;
}

.main-content-slider-item a {
    color: #000;
    text-decoration-line: none;
}

.main-content-slider-item:hover {
    cursor: pointer;
}

.main-content-slider-publishing {
    top: -0.5%;
    left: 6.5%;
    letter-spacing: 0.22em;
}

.main-content-slider-printing {
    top: 1.9%;
    right: 3.7%;
    letter-spacing: 0.22em;
}

.main-content-slider-store {
    top: 92.5%;
    right: 3.4%;
    font-size: 1.1em;
    letter-spacing: 0.15em;
}

.main-content-title {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-top: -1.3em;
}

.main-content-title::before {
    content: "•";
    color: #df630d;
    font-size: 3em;
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: -0.26em;
}

.main-content-title h2:after {
    display: block;
    height: 1px;
    border-top: 2px #000000 dotted;
    content: ' ';
    margin-top: -0.65em;
}

.main-content-title-events h2:after {
    width: 80%;
    margin-left: 20%;
}

.main-content-title-calculator h2:after {
    width: 73.5%;
    margin-left: 26.5%;
}

.main-content-events {
    margin-left: 8%;
    width: 80%;
    font-size: 1.3em;
    margin-top: 4em;
    margin-bottom: 2em;
    letter-spacing: 0.02em;
    list-style-type: none;
    line-height: 1.3em;
}

.main-content-events li:before {
    content: "•";
    color: #df630d;
    font-size: 30px;
    display: block;
    float: left;
    margin-left: -30px;
    margin-right: 15px;
    margin-top: 3px;
}

.main-content-events_all {
    display: block;
    text-decoration: none;
    font-size: 1.4em;
    color: #000;
    font-family: "OfficinaSansBold";
    letter-spacing: 0.3em;
    margin-left: 61%;
    margin-bottom: 4em;
}

.main-content-events_all img {
    margin-bottom: -2px;
}

.main-content-calculator {
    width: 100%;
    border: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.main-content-title_sp {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.main-content-title_sp h2 {
    display: inline-block;
}

.main-content-title_sp h2::before {
    content: "•";
    color: #df630d;
    font-size: 2.1em;
    display: block;
    float: left;
    margin-right: 12px;
    margin-top: -0.3em;
}

.main-content-title_sp-line {
    display: inline-block;
    height: 1px;
    border-top: 2px #000000 dotted;
    margin-bottom: 0.5em;
    width: 25.5%;
    margin-left: -1%;
}

.main-content-title_sp-clock {
    letter-spacing: 0 !important;
    color: #df630d;
    font-size: 1.9em;
    font-family: "OfficinaSansBold";
    margin-left: 1%;
}

.main-content-title_sp-clock > .disabled {
    color: #cab486;
}

.main-content-map {
    width: 100%;
    position: relative;
}

.main-content-map img {
    width: 100%;
}

.main-content-map-info {
    position: absolute;
    left: 0;
    bottom: 1em;
    color: #000;
}

.main-content-map-info .item {
    margin-bottom: -0.8em;
}

.main-content-map-info .number {
    font-size: 4em;

}

.main-footer {
    margin: 0 auto;
    /*width: 1114px;*/
    width: 99%;
    min-width: 1150px;
    max-width: 1600px;
    position: relative;
    height: auto;
    border-color: #252423;
    border-style: none dotted none dotted;
    border-width: 2px;
}

.main-footer img {
    width: 99%;
    margin: 0 8px -5px 8px;
}

.main-footer-left {
    position: absolute;
    left: 6px;
    top: -1px;
    width: 81px;
    height: 100%;
    background-image: url(../img/menu/bottomLeft.png);
    background-repeat: no-repeat;
}

.main-footer-content {
    position: absolute;
    left: 89px;
    top: 0;
    width: 91%;
    margin-top: 2.5em;
}

.main-footer-content-item {
    float: left;
}

.main-footer-content-item1 {
    width: 20%;
    border-right: 2px #FFF dotted;
}

.main-footer-content-item2 {
    width: 25%;
    border-right: 2px #FFF dotted;
    margin-left: 20px;
}

.main-footer-content-item3 {
    width: 50%;
    margin-left: 20px;
    position: relative;
}

.main-footer-content-item3-links {
    width: 40%;
    position: absolute;
    left: 0;
    top: 0;
}

.main-footer-content-item3-map {
    position: absolute;
    right: -2.9%;
    top: 0;
    width: 60%;
}

.main-footer-content-item3-map img {
    width: 100%;
}

.main-footer-content-item3-bottom {
    width: 99%;
    position: absolute;
    top: 10em;
    left: 3.5%;
    color: #fff;
}

.main-footer-content-item3-bottom-top {
    overflow: auto;
    width: 100%;
    padding-bottom: 0.8em;
    border-bottom: 2px #fff dotted;
}

.main-footer-content-item3-bottom-bottom {
    overflow: auto;
    width: 100%;
    padding-top: 0.8em;
}

.main-footer-content-item3-bottom-bottom-2 {
    margin-top: 0.5em;
}

.main-footer-content-item3-bottom-top-2 {
    width: 57%;
    float: right;
    font-size: 1.07em;
    margin-left: 1%;
}

.main-footer-content-item3-bottom-top-2 .company_name {
    display: block;
    margin-bottom: 0.31em;
    letter-spacing: 0.05em;
}

.company_name .copyright {
    font-size: 2em;
    display: block;
    float: left;
    margin-top: -0.15em;
    margin-right: 5px;
}

.main-footer-content-item3-bottom-top-1 {
    width: 40%;
    float: left;
    font-size: 1.2em;
    margin-left: 1%;
}

.main-footer-content-item3-bottom-top-1_2 {
    width: 35% !important;
    padding-top: 0.6em;
    border-top: 2px #fff dotted;
    padding-left: 2%;
    margin-left: -1%;
}

.main-footer-content-item3-bottom-top-phone {
    float: left;
}

.main-footer-content-item3-bottom-top-phone > .phone1 {
    letter-spacing: 0.025em;
}

.main-footer-content-item3-bottom-top-phone > .phone2 {
    letter-spacing: 0.035em;
}

.main-footer-content-item3-bottom-top-phone span {
    display: block;
}

.main-footer-content-item3-bottom-top-1 img {
    float: left;
}

.main-footer-content-item3-links .item {
    margin-left: 11.7% !important;
}

.main-footer-content-item .item {
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.08em;
    font-size: 1.1em;
    margin-left: 10%;
    margin-bottom: 0.6em;
}

.main-footer-content-item .item_bottom {
    margin-bottom: 1.5em;
}

.main-footer-content-item .title_main {
    letter-spacing: 0.4em !important;
}

.main-footer-content-item a {
    text-decoration: none;
    color: #fff;
}

.main-footer-content-item .title {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.1em;
    display: inline-block;
    width: 100%;
    margin-bottom: 0.2em;
}

.main-footer-content-item .title:before {
    content: "•";
    color: #fff;
    font-size: 2em;
    display: block;
    float: left;
    margin-top: -0.25em;
    margin-right: 0.1em;
}

.main-footer-content-item .title_share:before {
    content: "";
    width: 0.45em;
    height: 0.45em;
    display: block;
    float: left;
    background-image: url(../img/menu/circle.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 1px;
    margin-right: 0.23em;
    margin-left: 0.05em;
}

.main-footer-content-item .title_top {
    margin-bottom: 0.9em;
}

.main-footer-content-item .title_store {
    margin-top: 0.4em;
    margin-bottom: 0.9em;
}

.main-footer-content-item .title_share {
    margin-top: 1em;
}

.main-footer-content-item .title_bottom {
    margin-bottom: -0.8em !important;
}

/*MAIN MENU*/
.main-content-menu {
    position: absolute;
    left: 0;
    top: -1%;
    width: 0;
    overflow: hidden;
    z-index: 2;
}

.main-content-menu .bg {
    margin-top: -35px;
}

.main-menu-content {
    position: absolute;
    left: 40px;
    top: 0;
    width: 100%;
    margin-top: 5em;
}

.main-menu-content-item1 {
    width: 27.5% !important;
    border: 0;
}

.main-menu-content-item2 {
    width: 32% !important;
    padding-top: 0.5em;
    padding-left: 0.5%;
}

.main-menu-content-item2 > .item {
    margin-left: 8.5% !important;
}

.main-menu-content-item2 > .item_bottom {
    margin-bottom: 1em !important;
}

.main-menu-content-item3 {
    width: 28.7% !important;
    min-height: 22.5em;
    padding-top: 0.5em;
    padding-left: 0.5%;
}

.main-menu-content-item3 .item {
    margin-left: 9.1% !important;
}

.main-menu-content-item3 > .main-footer-content-item3-links {
    width: 100%;
    top: 0.5em;
}

.main-menu-content > .main-footer-content-item .title {
    margin-bottom: 0.8em;
}

.main-menu-content > .main-footer-content-item .title_top {
    margin-bottom: 2em !important;
}

.main-menu-content > .main-footer-content-item .item {
    margin-bottom: 1.5em;
}

.main-menu-content-bottom {
    border-bottom: 2px #fff dotted;
    width: 75%;
    position: absolute;
    bottom: 2em;
    left: 43px;
}

.main-menu-content-right {
    border-right: 2px #fff dotted;
    width: 0;
    position: absolute;
    top: 5em;
    right: 3%;
    height: 21em;
}

.main-content-menu .menu__close {
    position: absolute;
    right: 2%;
    top: 2.5em;
    width: 22px;
    height: 22px;
}

.main-content-menu .menu__close:hover {
    cursor: pointer;
}

.main-menu-content-item1 .title_store {
    margin-top: 2.65em;
    margin-bottom: 2em;
}

/*SHARE*/
.main-menu-content-title {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-left: 2.5em;
    margin-top: -4.5%;
    float: left;
}

.main-menu-content-title h2 {
    color: #fff;
    font-family: "OfficinaSansBook";
    font-weight: 400;
}

.main-menu-content-title::before {
    content: "•";
    color: #fff;
    font-size: 3em;
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: 0.12em;
}

.main-menu-content-title h2:after {
    display: block;
    height: 1px;
    border-top: 2px #fff dotted;
    content: ' ';
    margin-top: -0.65em;
}

.main-menu-content-share {
    width: 70%;
    margin-left: 5em !important;
}

.main-menu-content-share h2:after {
    width: 23.5%;
    margin-left: 22.5%;
}

.main-menu-content-share__end {
    color: #fff;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    position: absolute;
    right: 17.50%;
    top: -1.37em;
    width: 40%;
}

.main-menu-content-share__end .end__item {
    display: inline-block;
    width: 10%;
    margin-top: -0.4em;
    margin-left: 0.7em;
}

.main-menu-content-share__end .end__item > span {
    color: #fff;
    font-size: 0.8em;
}

.main-menu-content-share__end .end__item > div {
    color: #000;
    background-color: #fff;
    text-align: center;
    width: 1.9em;
    height: 1.5em;
    border-radius: 1em;
    padding-top: 0.4em;
    margin: 0 auto;

}

.main-menu-content-share__end .end__text {
    float: left;
}

.main-menu-content-shares {
    width: 59%;
    background-color: #fff;
    margin-left: 4em;
    margin-top: 3.2em;
    font-size: 1.3em;
    padding-left: 3.5em;
    padding-top: 3.5em;
    line-height: 1.5em;
    padding-right: 1em;
    letter-spacing: 0.02em;
    padding-bottom: 3.5em;
}

/*SHARE*/
/*CALL*/
.main-menu-content-call {
    width: 70%;
    margin-top: -10% !important;
}

.main-menu-content-call h2:after {
    width: 45.5%;
    margin-left: 40.5%;
}

.main-menu-content-others {
    width: 70%;
}

.main-menu-content-others h2:after {
    width: 50.5%;
    margin-left: 35.5%;
}

.main-menu-content-call__end {
    color: #fff;
    letter-spacing: 0.3em;
    font-size: 1em;
    position: absolute;
    right: 3.5%;
    top: -8%;
    width: 30%;
}

.main-menu-content-call__form {
    margin-left: 0.5em;
    margin-top: 3.2em;
}

.main-menu-content-call__form > table {
    margin-left: 2em;
    color: #fff;
    letter-spacing: 0.2em;
    font-size: 1em;
    width: 100%;
    margin-bottom: -1em;
}

.main-menu-content-call__form > table td {
    vertical-align: top;
}

.main-menu-content-call__form .name {
    width: 100%;
    margin-bottom: 2.5em;
}

.main-menu-content-call__form .dop-inf {
    width: 56%;
}

.main-menu-content-call__form > table .td1 {
    width: 45%;
}

.main-menu-content-call__form > table .td2 {
    padding-left: 2em;
}

.main-menu-content-call__form input[type="text"] {
    border: 0;
    height: 2.7em;
    margin-top: 0.8em;
}

.main-menu-content-agree {
    font-size: 0.9em;
    color: #fff;
    width: 65%;
    letter-spacing: 0.02em;
    margin-bottom: 3%;
}

/*.main-menu-content-agree input[type="checkbox"] {
	float: left;
	margin-left: -0.8em;
	margin-right: 1.2em;
}*/
.main-menu-content-agree a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

/*Checkboxes styles*/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 2.1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 0.9em;
    height: 0.85em;
    border: 2px solid #fff;
    border-radius: 0.9em;
    position: absolute;
    left: 0.1em;
    top: 0;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    content: '';
    display: block;
    width: 0.9em;
    height: 0.85em;
    border: 2px solid #fff;
    border-radius: 0.9em;
    position: absolute;
    left: 0.1em;
    top: 0;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    background-color: #fff;
}

.main-menu-content-bottom_ {
    width: 100%;
    margin-top: 3em;
}

.main-menu-content-bottom-captcha {
    width: 40%;
    border: 2px #fff dotted;
    overflow: hidden;
    margin-left: 2em;
    float: left;
    margin-right: 3.5%;
}

.main-menu-content-bottom-captcha img {
    float: left;
    display: block;
    width: 50%;
}

.main-menu-content-bottom-captcha > div {
    float: left;
    color: #fff;
    font-size: 1.1em;
    width: 45%;
    margin-left: 5%;
    letter-spacing: 0.18em;
    padding-top: 0.5em;
}

.main-menu-content-bottom-captcha > div input[type="text"] {
    height: 2.4em;
    width: 90%;
}

.main-menu-content-bottom-send table {
    width: 28%;
    color: #fff;
    font-size: 1.2em;
}

.main-menu-content-bottom-send table:hover {
    cursor: pointer;
}

.main-menu-content-bottom-send__call {
    border: 2px #fff dotted;
    padding-left: 0.35em;
    padding-top: 0.25em;
    border-radius: 5em;
    overflow: hidden;
    width: 4.2em;
    margin-top: -0.5em;
}

.main-menu-content-bottom-send__call img {
    width: 94%;
}

.main-menu-content-bottom-send__title {
    font-family: "OfficinaSansBold";
    border-bottom: 2px #fff dotted;
    padding-left: 0.7em;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}

.main-menu-content-bottom-send__description {
    margin-left: 0.7em;
}

/*CALL*/
/*QUESTION*/
.main-menu-content-call__form .name-small {
    width: 90%;
    margin-bottom: 1.5em;
    margin-top: 0.6em !important;
}

.main-menu-content-call__form .e-mail {
    width: 62%;
    margin-top: 0.6em !important;
}

.main-menu-content-call__form > table .td-small {
    width: 25%;
}

.main-menu-content-call__form > table textarea {
    resize: none;
    width: 80.7%;
    border: 0;
    height: 9em;
    margin-top: 0.6em;
    margin-bottom: 1.5em;
}

.main-menu-content-bottom_question {
    margin-top: 1em !important;
}

.main-menu-content-call__form > .inf {
    margin-left: 2em;
    margin-top: -6%;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 1em;
}

/*QUESTION*/
/*WRITE US*/
.main-menu-content-call__form .td2-first {
    width: 55%;
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;
}

.main-menu-content-call__form .td2-first textarea {
    width: 100%;
}

.main-menu-content-call__form .td2-second {
    width: 25%;
    float: left;
    margin-left: 2em;
    padding-top: 1.5em;
    overflow: hidden;
    margin-top: 1%;
}

.main-menu-content-call__form .td2-second input[type="file"] {
    margin-top: 0.5em;
}

/*WRITE US*/
/*RESULT*/
.main-menu-result {
    position: absolute;
    left: 35%;
    top: 0;
    width: 28%;
    margin-top: 20%;
    display: none;
}

.main-menu-result img {
    width: 100%;
}

/*RESULT*/
/*MAIN MENU*/
@media (max-width: 1520px) {
    body {
        font-size: 0.9em;
    }

    .main-right_panel-novelties_items img {
        width: 106%;
        margin-left: 3.3em;
    }

    .main-right_panel-novelties::before {
        margin-right: 0.9em;
        margin-left: 0.35em;
    }

    .main-left_menu-item_group {
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .main-footer-content-item3-bottom-top-2 {
        width: 59%;
        margin-left: 0;
    }
}

@media (max-width: 1620px) and (min-width: 1330px) {
    .main-menu-content {
        margin-top: 4.5em;
    }

    .main-shapka-textbox2-text {
        letter-spacing: 0;
    }

    .main-shapka-textbox2-text .first-row {
        letter-spacing: 0.02em;
    }

    .main-right_panel-item-phone-phone_2 {
        letter-spacing: 0.06em;
    }

    .main-right_panel-item {
        letter-spacing: 0.02em;
    }

    .main-right_panel-item-phone-phone_1 {
        letter-spacing: 0.035em;
    }

    .main-menu-content-item1 {
        width: 28.5% !important;
    }

    .main-content-menu {
        max-height: 600px;
    }

    .main-menu-content > .main-footer-content-item .title_top {
        margin-bottom: 1em !important;
    }

    .main-menu-content > .main-footer-content-item .item {
        margin-bottom: 1.35em;
    }

    .main-menu-content-item1 .title_store {
        margin-top: 2.1em;
    }

    .main-menu-content-item3, .main-menu-content-right {
        height: 19.5em;
    }


}

@media (max-width: 1550px) {
    .main-menu-content-item3 {
        width: 28% !important;
    }

    .main-menu-content-bottom-send table {
        font-size: 1.1em;
    }

    .main-menu-content-call__form .name-small {
        margin-bottom: 1em;
    }
}

@media (max-width: 1450px) {
    .main-right_panel-novelties::before {
        margin-left: 0.35em;
    }

    .main-menu-content-item3 {
        width: 26.7% !important;
    }

    .main-menu-content-title {
        margin-top: -4.5%;
    }

    /*MAIN MENU*/
    .main-menu-content-call__form .name {
        margin-bottom: 1em;
    }

    .main-menu-content-call__form .name-small, .e-mail {
        margin-bottom: 0.3em;
        height: 2em !important;
        margin-top: 0.2em !important;
    }

    .main-menu-content-call__form > table {
        margin-bottom: 0;
    }

    .main-menu-content-call__form input[type="text"] {
        margin-top: 0.2em !important;
    }

    .main-menu-content-call__form > .inf {
        /*margin-top: -1.9em;*/
        margin-bottom: 0.3em;
    }

    .main-menu-content-bottom-captcha > div {
        padding-top: 0.25em;
    }

    .main-menu-content-bottom-send table {
        font-size: 1.1em;
    }

    .main-menu-content-agree_question {
        margin-top: -1em;
    }

    .main-menu-content-call__form > table textarea {
        height: 8em;
        margin-top: 0.2em;
    }

    /*MAIN MENU*/
    .main-right_panel-novelties_items__nav {
        margin-left: 17%;
    }
}

@media (max-width: 1330px) {
    body {
        font-size: 0.8em;
    }

    .main-right_panel-send {
        margin-left: 73%;
    }

    .main-content {
        top: 9.7em;
        left: 10.3%;
    }

    .main-content-slider {
        margin-bottom: 1.7em;
    }

    .main-right_panel-novelties_items img {
        width: 96%;
        margin-left: 2.6em;
    }

    .main-right_panel-novelties::before {
        margin-right: 0.4em;
        margin-left: 0.55em;
    }

    .main-shapka {
        transform: translateX(-58%);
    }

    .main-left_menu-item_group {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    .main-footer-content-item3-bottom-top-2 {
        width: 58%;
        margin-left: 0;
    }

    .shapka {
        left: 49.5%;
    }

    .main-shapka-textbox2-text::before {
        margin-top: 5px;
    }

    .main-shapka-textbox2-text {
        letter-spacing: 0.027em;
    }

    .main-shapka-textbox2-text .first-row {
        letter-spacing: 0.04em;
    }

    .main-right_panel-novelties_items {
        margin-left: 3.3em;
    }

    .main-footer-content-item3-map {
        width: 55%;
        right: 2.5%;
    }

    .main-footer-content-item3-bottom-top {
        width: 96%;
    }

    .main-menu-content-item1 {
        width: 28.5% !important;
    }

    .main-content-title-events {
        margin-top: 3em;
    }

    .main-menu-content-call__form .td2-second {
        width: 30%;
    }

    .main-right_panel-novelties_items__nav {
        margin-left: -1%;
    }

    .main-menu-content-item2 > .item_bottom {
        margin-bottom: 0.7em !important;
    }
}

@media (max-width: 1260px) {
    .main-menu-content-title {
        margin-top: -3.9%;
    }

    .main-right_panel-novelties_items__nav {
        margin-left: -8%;
    }

    body {
        font-size: 0.75em;
    }

    .main-right_panel-send {
        margin-left: 71.5%;
    }

    .main-right_panel-item {
        margin-top: 11px;
    }

    .main-left_menu {
        position: absolute;
        left: 0;
        top: 0;
    }

    .main-content {
        top: 10.8em;
    }

    .main-content-slider {
        margin-bottom: 1.7em;
    }

    .main-right_panel-novelties_items img {
        width: 88%;
        margin-left: 2.6em;
    }

    .main-right_panel-novelties::before {
        margin-right: 0.4em;
        margin-left: 0.45em;
    }

    .main-shapka-textbox2-text {
        margin-top: 11.5%;
        letter-spacing: 0.01em;
    }

    .main-shapka-textbox2-text .first-row {
        letter-spacing: 0.025em;
    }

    .main-left_menu-item_group {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .main-footer-content {
        width: 89%;
    }

    .main-shapka-textbox2-text::before {
        margin-top: 6px;
    }

    .main-right_panel-item-phone-phone_1 {
        letter-spacing: 0.06em;
    }

    .main-right_panel-item {
        letter-spacing: 0.035em;
    }

    .main-menu-content-item1 {
        width: 28% !important;
    }

    .main-right_panel-novelties_items {
        margin-top: 20px;
        padding-top: 25px;
    }

    .main-menu-content-call__form > table textarea {
        height: 7.25em;
    }
}

@media (max-width: 1170px) {
    .main-menu-content {
        margin-top: 4.5em;
    }

    .main-menu-content-item1 {
        width: 27% !important;
    }

    .main-left_menu {
        position: absolute;
    }

    .main-right_panel {
        position: absolute;
        right: 7px;
        top: 0;
        width: 18.6%;
        transform: translateX(0);
    }

    .right_panel {
        position: inherit;
        top: 0;
        right: 0;
    }

    .shapka {
        position: inherit;
        top: 0;
        left: 0%;
    }

    .main-shapka {
        position: absolute;
        transform: translateX(0);
        width: 68%;
        left: 10.3%;
    }

    .main-content-menu .bg {
        margin-top: -25px;
    }

    .main-content-menu .menu__close {
        right: 2%;
    }
}

@media (max-height: 740px) and (min-width: 1300px) {
    .main-left_menu-item_group {
        margin-top: 3.6em;
        margin-bottom: 3.6em;
    }

    .main-left_menu {
        height: 44em; /*50*/
    }
}
