<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <meta charset="utf-8">
  <title>Издательско-полиграфическая фирма РЕНОМЕ</title>
  <link rel="stylesheet" type="text/css" href="all.css"/>
</head>

<body>
<div class="main">
  <!--main START-->

  <div class="main-left_menu">
    <!--left_menu START-->
    <div class="main-left_menu-item" id="menu">
      <img src="img/menu/newImg/menu.png" width="43" height="27"/>
      <span>МЕНЮ</span>
    </div>

    <div class="main-left_menu-item_group">
      <div class="main-left_menu-item" id="call-open">
        <img src="img/menu/newImg/zvonok.png" width="43" height="44"/>
        <span>Заказать звонок</span>
      </div>

      <div class="main-left_menu-item" id="write-us-open">
        <img src="img/menu/newImg/napisat.png" width="43" height="42"/>
        <span>Написать нам</span>
      </div>

      <div class="main-left_menu-item" id="question-open">
        <img src="img/menu/newImg/Vopros.png" width="43" height="45"/>
        <span>Задать вопрос</span>
      </div>

      <div class="main-left_menu-item" id="share-open">
        <img src="img/menu/newImg/Akzia.png" width="43" height="44"/>
        <span>АКЦИЯ!</span>
      </div>
    </div>
    <div class="main-left_menu-item main-left_menu-item__calc">
      <img src="img/menu/newImg/Kalkul_log.png" width="43" height="43"/>
      <span>Калькулятор</span>
    </div>
    <!--left_menu END-->
  </div>

  <div class="shapka">
    <div class="main-shapka">
      <!--shapka START-->
      <div class="main-shapka-textbox2">
        <div class="main-shapka-textbox2-text">
          <span class="first-row">Мы знаем, как делать книги,</span> <br>и делаем их профессионально
        </div>
      </div>
      <div class="main-shapka-textbox1">
        <div class="main-shapka-textbox1-city">Санкт-Петербург</div>
        <div class="main-shapka-textbox1-desc">
          <span>Издательско-полиграфическая фирма</span><br>
          <span>Основана в 1991 году</span>
        </div>
      </div>
      <!--shapka END-->
    </div>
  </div>

  <div class="right_panel">
    <div class="main-right_panel">
      <!--right_panel START-->
      <div class="main-right_panel-item" style="padding-bottom: 0px; border: 0px;">
        <div class="main-right_panel-item-phone">
          <span class="main-right_panel-item-phone-phone_1">8-800-300-500-58</span>
          <span>бесплатный звонок</span>
        </div>
        <img src="img/menu/newImg/zvonok.png"
             style="width:16.5%; height: 17%; min-width: 35px; min-height: 35px; margin-bottom: 0.4em;  margin-left: 0.3em;"/>
      </div>

      <div class="main-right_panel-item" style="width: 91.2%;">
        <div class="main-right_panel-item-phone" style="border:0px;">
          <span class="main-right_panel-item-phone-phone_2">8 (812) 766-05-66</span>
          <span class="main-right_panel-item-phone-phone_2" style="margin-bottom: 0;">8 (812) 766-06-83</span>
        </div>
        <a href="https://vk.com/renome_spb" target="_blank"><img src="img/menu/vk.png"
                                                                 style="width:11.2%; height: 11.2%; min-width: 23px; min-height: 23px; margin-left: 0;  margin-bottom: 0.45em; "/></a>
        <a href="https://www.facebook.com/renome.spb/" target="_blank"><img src="img/menu/fb.png"
                                                                            style="width:11.2%; height: 11.2%; min-width: 23px; min-height: 23px;  margin-bottom: 0.45em;"/></a>
      </div>
      <div class="main-right_panel-item" style="margin-top:0.7em; border: 0;">
        <div>
          <form method="get" action="#">
            <input type="text"
                   style="width: 95%; height: 18px; border: 0px; margin-left: 5px; margin-top: 7px; margin-bottom: 4px;"/>
          </form>
        </div>
      </div>
      <div class="main-right_panel-send">
        Поиск
      </div>

      <div class="main-right_panel-novelties">
        Новинки издательства
      </div>

      <div class="main-right_panel-novelties_items">

        <!--<img src="img/novelties/1.png" />-->
        <div id="novitiles-1">
          <img src="img/novelties/2n.png"/>

          <img src="img/novelties/3n.png" style="margin-bottom: 0;"/>
        </div>

        <div id="novitiles-2" style="display:none;">
          <img src="img/novelties/3n.png"/>

          <img src="img/novelties/2n.png" style="margin-bottom: 0;"/>
        </div>

        <div id="novitiles-3" style="display:none;">
          <img src="img/novelties/2n.png"/>

          <img src="img/novelties/3n.png" style="margin-bottom: 0;"/>
        </div>

        <div class="main-right_panel-novelties_items__nav">
          <span class="novitiles-nav active" id="1"></span>
          <span class="novitiles-nav" id="2"></span>
          <span class="novitiles-nav" id="3"></span>
        </div>

      </div>
      <!--right_panel END-->
    </div>
  </div>

  <div class="main-content" style="height: 1800px;">
    <!--content START-->
    <div class="main-content-menu" id="main-menu">
      <div class="main-menu-content main-menu-divs" id="menu-big">
        <div class="main-footer-content-item main-footer-content-item1 main-menu-content-item1">
          <div style="width:100%; border-right: 2px #fff dotted; padding-top: 0.5em;">
            <a href="#" class="title title_top title_main title__calc">Калькулятор</a>

            <a href="#" class="title title_store">Интернет-магазин</a>

            <a href="#" class="title">События</a>
            <a href="#" class="title">Поиск на сайте</a>
            <a href="#" class="title">Документы</a>
            <a href="#" class="title" style="margin-bottom: 3em;">Контакты</a>
          </div>
          <a href="#" class="title title_share title_bottom" style="margin-top: 3em;">Акция</a>
        </div>

        <div class="main-footer-content-item main-footer-content-item2 main-menu-content-item2">
          <a href="#" class="title title_top title_main">Издательство</a>

          <a href="#" class="item">Редакционная подготовка</a>
          <a href="#" class="item">Стоимость типовых изданий</a>
          <a href="#" class="item">Как издать книгу</a>
          <a href="#" class="item">Реализация книг</a>
          <a href="#" class="item">Справочник автора</a>
          <a href="#" class="item">Издания</a>
          <a href="#" class="item item_bottom">География</a>

        </div>

        <div class="main-footer-content-item main-footer-content-item3 main-menu-content-item3">
          <div class="main-footer-content-item3-links">
            <a href="#" class="title title_top title_main">Типография</a>

            <a href="#" class="item">Стоимость печати книг</a>
            <a href="#" class="item">Требования к файлам</a>
            <a href="#" class="item">Портфолио</a>
          </div>
        </div>
      </div>


      <div class="main-menu-content main-menu-divs" id="share">
        <div class="main-menu-content-title main-menu-content-share">
          <h2>Акция!</h2>
        </div>

        <div class="main-menu-content-share__end" id="clockdiv">
          <div class="end__text">
            до конца акции
          </div>

          <div class="end__item">
            <div class="days">10</div>
            <span style="margin-left: 8%;">дней</span>
          </div>

          <div class="end__item">
            <div class="hours">8</div>
            <span>часов</span>
          </div>

          <div class="end__item">
            <div class="minutes">30</div>
            <span>минут</span>
          </div>
        </div>

        <div class="main-menu-content-shares">
          КНИГА В ПОДАРОК!<br>
          Посетите наш стенд №172 на выставке "САНКТ-ПЕТЕРБУРГСКИЙ МЕЖДУНАРОДНЫЙ КНИЖНЫЙ САЛОН 2016" с 26 по 29 мая.
          Сделайте фотографию с изображением себя у нашего стенда. Подпишитесь на нашу группу "Вконтакте" - ТИПОГРАФИЯ.
          ИЗДАТЕЛЬСТВО. Издание и печать книг. Выложите фотографию "ВКонткте" с хэштегом #ипфреноме. Получите в подарок
          КНИГУ, изданную в нашем издательстве.
        </div>
      </div>


      <!--CALL-BACK START-->

      <div class="main-menu-content main-menu-divs" id="call">
        <div class="main-menu-content-title main-menu-content-call">
          <h2>Заказать звонок</h2>
        </div>

        <div class="main-menu-content-call__end">
          <div class="end__text">
            *обязательные поля
          </div>
        </div>

        <div class="main-menu-content-call__form">
          <table>
            <tr>
              <td class="td1">
                Ваше имя*<br>
                <input type="text" name="name" class="name" required/>
              </td>
              <td class="td2">
                Удобное время для звонка<br>
                <input type="text" name="time" class="dop-inf"/>
              </td>
            </tr>

            <tr>
              <td class="td1">
                Телефон*<br>
                <input type="text" name="name" class="name" required/>
              </td>
              <td class="td2">
                Дополнительная информация<br>
                <input type="text" name="time" class="dop-inf"/>
              </td>
            </tr>
          </table>

          <div class="main-menu-content-agree">

            <input type="checkbox" name="agree" id="agree1"/>
            <label for="agree1">Я даю своё согласие на обработку моих персональных данных в соответсвии с Федеральным
              законом от 27.07.2006 года - №152-ФЗ "О персональных данных" на условиях и для целей, определенных в <a
                      href="#">Согласии на обработку персональных данных</a>.
            </label>
          </div>

          <div class="main-menu-content-bottom_">
            <div class="main-menu-content-bottom-captcha">
              <img src="img/menu/main/captcha.png"/>
              <div>
                Защита от спама
                <input type="text" name="captcha"/>
              </div>
            </div>

            <div class="main-menu-content-bottom-send">
              <table>
                <tr>
                  <td>
                    <div class="main-menu-content-bottom-send__call">
                      <img src="img/menu/main/call.png"/>
                    </div>
                  </td>
                  <td>
                    <div class="main-menu-content-bottom-send__title">
                      Заказать звонок
                    </div>
                    <div class="main-menu-content-bottom-send__description">
                      Мы перезвоним <br>в ближайшее время
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>

        </div>


      </div>
      <!--CALL-BACK END-->


      <!--QUESTION START-->

      <div class="main-menu-content main-menu-divs" id="question">
        <div class="main-menu-content-title main-menu-content-call">
          <h2>Задать вопрос</h2>
        </div>

        <div class="main-menu-content-call__end">
          <div class="end__text">
            *обязательные поля
          </div>
        </div>

        <div class="main-menu-content-call__form">
          <div class="inf">Вы можете задать любой вопрос, связанный с изданием и печатью книг</div>
          <table>
            <tr>
              <td class="td-small">
                Ваше имя*<br>
                <input type="text" name="name" class="name-small" required/>
              </td>
              <td class="td-small">
                Телефон*<br>
                <input type="text" name="phone" class="name-small" required/>
              </td>
              <td>
                Электронный адрес*<br>
                <input type="text" name="phone" class="e-mail" required/>
              </td>
            </tr>

            <tr>
              <td colspan="3">
                Что вас интересует?*
                <textarea></textarea>
              </td>
            </tr>
          </table>

          <div class="main-menu-content-agree main-menu-content-agree_question">

            <input type="checkbox" name="agree" id="agree2"/>
            <label for="agree2">Я даю своё согласие на обработку моих персональных данных в соответсвии с Федеральным
              законом от 27.07.2006 года - №152-ФЗ "О персональных данных" на условиях и для целей, определенных в <a
                      href="#">Согласии на обработку персональных данных</a>.
            </label>
          </div>

          <div class="main-menu-content-bottom_ main-menu-content-bottom_question">
            <div class="main-menu-content-bottom-captcha">
              <img src="img/menu/main/captcha.png"/>
              <div>
                Защита от спама
                <input type="text" name="captcha"/>
              </div>
            </div>

            <div class="main-menu-content-bottom-send">
              <table>
                <tr>
                  <td>
                    <div class="main-menu-content-bottom-send__call">
                      <img src="img/menu/main/question.png" style="margin-left: -0.1em;"/>
                    </div>
                  </td>
                  <td>
                    <div class="main-menu-content-bottom-send__title">
                      Задать вопрос
                    </div>
                    <div class="main-menu-content-bottom-send__description">
                      Мы ответим <br>в ближайшее время
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>

        </div>


      </div>
      <!--QUESTION END-->


      <!--WRITE-US START-->

      <div class="main-menu-content main-menu-divs" id="write-us">
        <div class="main-menu-content-title main-menu-content-call">
          <h2>Написать нам</h2>
        </div>

        <div class="main-menu-content-call__end">
          <div class="end__text">
            *обязательные поля
          </div>
        </div>

        <div class="main-menu-content-call__form">
          <div class="inf">С помощью формы обратной связи вы можете отправить данные для расчета стоимости издания и
            печати книг
          </div>
          <table>
            <tr>
              <td class="td-small">
                Ваше имя*<br>
                <input type="text" name="name" class="name-small" required/>
              </td>
              <td class="td-small">
                Телефон*<br>
                <input type="text" name="phone" class="name-small" required/>
              </td>
              <td>
                Электронный адрес*<br>
                <input type="text" name="phone" class="e-mail" required/>
              </td>
            </tr>

            <tr>
              <td colspan="3">
                <div class="td2-first">
                  Описание заказа*
                  <textarea></textarea>
                </div>
                <div class="td2-second">
                  <img src="img/menu/main/plus2.png" id="addFormInput" width="25" height="22"/> Прикрепить файл<br>
                  <input type="file" name="file" class="file" onChange="addFile();"/>
                </div>
              </td>
            </tr>
          </table>

          <div class="main-menu-content-agree main-menu-content-agree_question">

            <input type="checkbox" name="agree" id="agree3"/>
            <label for="agree3">Я даю своё согласие на обработку моих персональных данных в соответсвии с Федеральным
              законом от 27.07.2006 года - №152-ФЗ "О персональных данных" на условиях и для целей, определенных в <a
                      href="#">Согласии на обработку персональных данных</a>.
            </label>
          </div>

          <div class="main-menu-content-bottom_ main-menu-content-bottom_question">
            <div class="main-menu-content-bottom-captcha">
              <img src="img/menu/main/captcha.png"/>
              <div>
                Защита от спама
                <input type="text" name="captcha"/>
              </div>
            </div>

            <div class="main-menu-content-bottom-send">
              <table>
                <tr>
                  <td>
                    <div class="main-menu-content-bottom-send__call">
                      <img src="img/menu/main/write-us.png"/>
                    </div>
                  </td>
                  <td>
                    <div class="main-menu-content-bottom-send__title">
                      Написать нам
                    </div>
                    <div class="main-menu-content-bottom-send__description">
                      Мы ответим <br>в ближайшее время
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>

        </div>


      </div>
      <!--WRITE-US END-->

      <div class="main-menu-result" id="callResult">
        <img src="img/menu/main/callZak.png"/>
      </div>

      <div class="main-menu-result" id="questionResult">
        <img src="img/menu/main/questionSend.png"/>
      </div>

      <div class="main-menu-result" id="questionResult">
        <img src="img/menu/main/letterSend.png"/>
      </div>

      <div class="menu__close" id="closeMainMenu">
        <img src="img/menu/main/close.png" width="22" height="22"/>
      </div>

      <div class="main-menu-content-right">

      </div>

      <div class="main-menu-content-bottom">

      </div>
      <img src="img/menu/main/bg2.png" width="100%" class="bg"/>
    </div>

    <!--change START-->
    <div class="main-content-title main-content-title-calculator">
      <h2 style="cursor: pointer;" onClick="document.location.reload()">Калькулятор</h2>
    </div>


    <noscript>
      <strong>We're sorry but calculator doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>

    <!--change END-->
    <!--content END-->
  </div>

  <!--main END-->
</div>