<template lang="pug">
    div
        renome-title(name="КРЕПЛЕНИЕ БЛОКА", content="Способ крепления листов книги и соединения их с обложкой/переплетом зависит от количества страниц. Основные способы:<br><br>брошюры — скобы из проволоки<br>книги в обложке — термоклей; шитье нитками + термоклей<br>книги в переплете – шитье нитками.")
        ul
          li(@click="bind(4)", :class="{active: clr===4, disable: lockSkob}") две скобы
          li(@click="bind(1)", :class="{active: clr===1, disable: lockTerm}") термоклей
          li(@click="bind(2)", :class="{active: clr===2, disable: lockTermNi}") шитье нитками + термоклей
          li(@click="bind(3)", :class="{active: clr===3, disable: lockNi}") шитье нитками
        div.header
            img(:src="pic")
        renome-page(:prev="true", prevName="manus", :next="clr != -1", nextName="final", :nStage="9")
</template>
<script>
import { mapState, mapGetters } from "vuex";
export default {
  name: "block",
  data() {
    return {
      pic: ""
    };
  },
  computed: {
    ...mapState({
      clr: state => state.block,
      num: state => state.num,
      paper: state => state.print.fst.paper,
      ro: state => state.print.fst.ro
    }),
    ...mapGetters(["sumList", "lockSkob", "lockTerm", "lockTermNi", "lockNi"])
  },
  watch: {
    clr(val) {
      switch (val) {
        case 4:
          this.pic = require("@/assets/fastening-bracket.png");
          break;
        case 1:
          this.pic = require("@/assets/fastening-click-soft.png");
          break;
        case 2:
          this.pic = require("@/assets/fastening-shite-glue-soft.png");
          break;
        case 3:
          this.pic = require("@/assets/fastening-shared-round.png");
          break;
        default:
          this.pic = "";
          break;
      }
    }
  },
  methods: {
    bind(val) {
      if (this.skobLock && val == 4) return;
      if (this.termLock && val == 1) return;
      if (this.termNiLock && val == 2) return;
      if (this.niLock && val == 3) return;
      this.$store.commit("setBlock", val);
    }
  },
    mounted() {
    if (this.$store.state.stage < 8) this.$router.replace("/");
  }
};
</script>
<style lang="sass" scoped>
.disable
  color: #9c927b !important
  cursor: default
.header
  display: flex
  justify-content: center
  width: 82%
  padding-top: 1em
img
  width: 10em
ul
  margin-left: .5em
li
  list-style-type: none
  padding-bottom: .2em
  letter-spacing: .11em
  color: #856C57
  cursor: pointer
.active
  margin-right: 15%
  color: #000
  &:before
    content: "•"
    color: #df630d
    font-size: 2.5em
    display: block
    float: left
    margin:
      top: -0.3em
      left: -13%
</style>
