<template lang="pug">
    div
        renome-title(name="ДИЗАЙН ОБЛОЖКИ", content=" Оригинальный — дизайн обложки, созданный на основе пожеланий автора и восприятия дизайнером идеи произведения. Автору для утверждения предоставляется несколько вариантов обложки.<br><br>Типовой — подготовка обложки к печати по эскизу автора или шаблонам издательства.<br><br>Не требуется — макет обложки существует в формате pdf, подготовленный в соответствии с техническими требованиями типографии. ")
        ul
            li
                span(@click="clk(1)", :class="{active: cur == 1}") оригинальный
            li
                span(@click="clk(2)", :class="{active: cur == 2}") типовой
            li
                span(@click="clk(3)", :class="{active: cur == 3}") не требуется
        renome-page(:prev="true", prevName="maket", :next="next", nextName="print", :nStage="6")
</template>
<script>
export default {
  name: "disain",
  data: () => {
    return {
      next: false
    };
  },
  computed: {
    cur() {
      return this.$store.state.disign;
    }
  },
  methods: {
    clk(val) {
      this.$store.commit("setDisign", val);
      this.next = true;
    }
  },
  mounted() {
    if (this.$store.state.stage < 5) this.$router.replace("/");
  }
};
</script>
<style lang="sass" scoped>
ul
  margin-left: .5em
  margin-bottom: 5em
li
  list-style-type: none
  padding-bottom: .2em
  letter-spacing: .11em
  color: #856C57
  cursor: pointer
.active
  margin-right: 15%
  color: #000
  &:before
    content: "•"
    color: #df630d
    font-size: 2.5em
    display: block
    float: left
    margin:
      top: -0.3em
      left: -13%
</style>
