<template lang="pug">
  div
    renome-title(name="ФОРМАТ", content="Обрезной формат книги — размер готовой книги после обрезки. Указывается в миллиметрах (ширина × высота). В калькуляторе представлены наиболее распространенные и экономичные форматы. Если необходимый вам формат издания отличается от предложенных — проконсультируйтесь с нашими сотрудниками.")
    ul
      li
        span(@click="clk('100x140')", :class="{active: cur == '100x140'}") 100x140 мм
      li
        span(@click="clk('115x165')", :class="{active: cur == '115x165'}") 115х165 мм
      li
        span(@click="clk('130x200')", :class="{active: cur == '130x200'}") 130х200 мм
      li
        span(@click="clk('140x200')", :class="{active: cur == '140x200'}") 140х200 мм
      li
        span(@click="clk('140x205')", :class="{active: cur == '140x205'}") 140х205 мм
      li
        span(@click="clk('145x215')", :class="{active: cur == '145x215'}") 145х215 мм
      li
        span(@click="clk('165x235')", :class="{active: cur == '165x235'}") 165х235 мм
      li
        span(@click="clk('205x290')", :class="{active: cur == '205x290'}") 205х290 мм
    renome-page(:prev="false", :next="next", nextName="tiraj", :nStage="2")
</template>
<script>
export default {
  name: "Format",
  data() {
    return {
      hover: false,
      hover2: false,
      next: false
    };
  },
  computed: {
    cur() {
      return this.$store.state.format;
    }
  },
  methods: {
    clk(val) {
      this.$store.commit("setFormat", val);
      this.next = true;
    }
  },
  mounted() {
    if (this.$store.state.format !== "") this.clk(this.$store.state.format);
  }
};
</script>
<style lang="sass" scoped>
$brd: 2px black solid
ul
  margin-left: 0.5em
li
  list-style-type: none
  padding-bottom: .4em
  letter-spacing: .11em
  color: #856C57
  cursor: pointer
.active
  margin-right: 15%
  color: #000
  &:before
    content: "•"
    color: #df630d
    font-size: 2.5em
    display: block
    float: left
    margin:
      top: -0.3em
      left: -13%
</style>
