<template lang="pug">
    div
        renome-title(name="ISBN", content="Уникальный код, идентифицирует каждую выходящую в мире книгу.<br>Издатели, книготорговцы, библиотекари, научные работники используют ISBN при распространении и поиске книг. ISBN необходим для реализации книг через торговые сети. Присваивая ISBN, мы обеспечиваем отправку 19 обязательных экземпляров в счет тиража, в соответствии с действующими нормативами: 16 экземпляров — в Российскую книжную палату, 3 экземпляра — в ЦГПБ им. В.В. Маяковского, а также передаем электронную версию издания в Российскую книжную палату.")
        ul
            li(:class="{blocked: $store.tiraj < 30}", :style="{color: this.$store.state.tiraj < 30 ? '#9c927b' : '#856C57'}")
                span(@click="clk(true)", :class="{active: cur && cur !== undefined}") требуется
            li
                span(@click="clk(false)", :class="{active: !cur && cur !== undefined}") не требуется
        renome-page(:prev="true", prevName="tiraj", :next="next", nextName="maket", :nStage="4")
</template>
<script>
export default {
  name: "isbn",
  methods: {
    clk(val) {
      if ((val && this.$store.state.tiraj >= 30) || !val)
        this.$store.commit("setISBN", val);
    }
  },
  computed: {
    cur() {
      return this.$store.state.isbn;
    },
    next() {
      return this.$store.state.isbn !== undefined;
    }
  },
  mounted() {
    if (this.$store.state.stage < 3) this.$router.replace("/");
  }
};
</script>
<style lang="sass" scoped>
ul
  margin-left: .5em
  margin-bottom: 5em
li
  list-style-type: none
  padding-bottom: .2em
  letter-spacing: .11em
  color: #856C57
  cursor: pointer
.active
  margin-right: 15%
  color: #000
  &:before
    content: "•"
    color: #df630d
    font-size: 2.5em
    display: block
    float: left
    margin:
      top: -0.3em
      left: -13%
.blocked
    color: #9c927b !important
    cursor: default
</style>
