<template lang="pug">
    div.root
        renome-title(name="ОРИГИНАЛ-МАКЕТ", content="Оригинал-макет — это электронная версия книги, готовая для печати и прошедшая основные стадии редакционно-издательской подготовки: редактирование, корректуру, верстку текста. Каждая страница оригинал-макета полностью совпадает со страницей будущего издания. Оригинал-макет выполняется в специальных программах в соответствии с правилами верстки и с учетом технических требований типографии. ")
        div#need
            ul
                li
                    span(@click="clk(true)", :class="{active: need && need !== undefined}") требуется
                li
                    span(@click="clk(false)", :class="{active: !need && need !== undefined}") не требуется
        div(v-if="need && need !== undefined")
            renome-sub(name="ОБЪЕМ РУКОПИСИ", content=" Прозаическое произведение — укажите количество знаков с пробелами, стихотворное произведение — укажите количество строк. Для определения количества знаков или строк откройте текст книги в Word: в версии 97-2003 воспользуйтесь командами «Сервис» и «Статистика», в более поздних версиях Word нажмите «Рецензирование» и «Статистика». Если вы затрудняетесь с определением объема — укажите предполагаемое количество страниц выбранного формата.<br><br>Иллюстрации — укажите в процентах приблизительное соотношение количества иллюстраций, расположенных непосредственно в тексте, к общему объему текста.<br><br>Таблицы, формулы, графики — укажите в процентах приблизительное соотношение количества таблиц, формул и графиков к общему объему текста. ")
            ul#count
                li
                    div(@click="typeClk(1)", :class="{active: type == 1}") Количество знаков с&nbsp;пробелами
                    input(type="number", min="0", v-model.lazy="kvo", v-if="type == 1")
                li 
                    div(@click="typeClk(2)", :class="{active: type == 2}") Количество стихотворных&nbsp;строк 
                    input(type="number", min="0", v-model.lazy="kvo", v-if="type == 2")
                li 
                    div(@click="typeClk(3)", :class="{active: type == 3}") Предполагаемое количество&nbsp;страниц
                    input(type="number", min="0", v-model.lazy="kvo", v-if="type == 3")
                li.dont
                    div Иллюстрации
                        | <br>в %-ном соотношении
                    input(type="number", min="0", max="100", v-model="tbl")
                li.dont
                    div Таблицы, формулы, графики
                        | <br>в %-ном соотношении
                    input(type="number", min="0", max="100", v-model="pic")
                li#page(style="pointer: default", v-if="kvo > 0")
                    span ≈ {{num}}
                    |  стр. формата {{format}} мм
            renome-sub(name="РЕДАКТИРОВАНИЕ", content="Редактирование художественных произведений — совместный с автором творческий процесс, направленный на совершенствование содержания и формы произведения при сохранении индивидуальности авторского стиля.")
            div#edit
                ul
                    li
                        span(@click="editClk(true)", :class="{active: edit && edit !== undefined}") требуется
                    li
                        span(@click="editClk(false)", :class="{active: !edit && edit !== undefined}") не требуется
            renome-sub(name="КОРРЕКТУРА", content="Корректура — исправление грамматических и технических ошибок в текстовых и графических материалах.")
            div#correct
                ul
                    li
                        span(@click="corClk(true)", :class="{active: cor && cor !== undefined}") требуется
                    li
                        span(@click="corClk(false)", :class="{active: !cor && cor !== undefined}") не требуется
        renome-page(:prev="true", prevName="isbn", :next="next", nextName="disain", :nStage="5")
</template>

<script>
export default {
  name: "maket",
  computed: {
    next() {
      return (
        (this.kvo > 0 && this.edit !== undefined && this.cor !== undefined) ||
        (!this.need && this.need !== undefined)
      );
    },
    format() {
      return this.$store.state.format;
    },
    need() {
      return this.$store.state.maket.need;
    },
    kvo: {
      get() {
        return this.$store.state.maket.kvo.num;
      },
      set(val) {
        this.$store.commit("setKvoMaket", val);
      }
    },
    tbl: {
      get() {
        return this.$store.state.maket.tbl;
      },
      set(val) {
        this.$store.commit("setTblMaket", val);
      }
    },
    pic: {
      get() {
        return this.$store.state.maket.pic;
      },
      set(val) {
        this.$store.commit("setPicMaket", val);
      }
    },
    type() {
      return this.$store.state.maket.kvo.type;
    },
    edit() {
      return this.$store.state.maket.edit;
    },
    cor() {
      return this.$store.state.maket.cor;
    },
    num() {
      return this.$store.state.num;
    }
  },
  methods: {
    clk(val) {
      this.$store.commit("setNeedMaket", val);
    },
    typeClk(val) {
      this.$store.commit("setTypeMaket", val);
      this.kvo = 0;
    },
    editClk(val) {
      this.$store.commit("setEditMaket", val);
    },
    corClk(val) {
      this.$store.commit("setCorMaket", val);
    }
  },
  mounted() {
    if (this.$store.state.stage < 4) this.$router.replace("/");
  }
};
</script>

<style lang="sass" scoped>
ul
  margin-left: .5em
  width: 106%
li
  list-style-type: none
  padding-bottom: .4em
  letter-spacing: .11em
  color: #856C57
  cursor: pointer
  &.dont
    cursor: default
.active
  margin-right: 15%
  color: #000
  &:before
    content: "•"
    color: #df630d
    font-size: 2.5em
    display: block
    float: left
    margin:
      top: -0.3em
      left: -13%
#count>li
    display: flex
    &>div
        margin-right: 2em
        width: 70%
    &>input
        margin:
            top: .5em
            bottom: .5em
        border: 2px #856c57 dotted
        width: 17%
        background-color: #F3F1E4
        height: 1.6em
        padding-left: 10px
        padding-bottom: 2px
        margin-right: 2.5%
        &:focus
            border: 2px #856C57 solid
            background-color: #FFF
            outline: none
#page
    margin-top: 1em
    >span
        display: block
        width: 50px
        height: 33px
        border-radius: 34px
        border: 2px #856C57 dotted
        background-color: #fff
        float: left
        text-align: center
        color: #856C57
        margin-right: 5px
        padding-top: 15px
        margin-top: -15px
</style>
