<template lang="pug">
    div
        renome-title(name="ПЕРЕПЛЕТ", content=" Мягкая обложка — внешнее покрытие книги из бумаги или тонкого картона. Как правило, соединяется с книжным блоком при помощи термоклея или металлических скоб.<br><br>Твердый переплет — внешнее покрытие книги из толстого картона (1,5-3 мм), соединяется с книжным блоком с помощью окантовочного материала и форзацев. ")
        div.header
            img(:src="img")
        ul
            li
                span(@click="clk(0)", :class="{active: type == 0}") мягкая обложка
            li
                span(@click="clk(1)", :class="{active: type == 1, disabled: dis}") твердый переплет
        soft(v-if="type == 0", :next.sync="next")
        hard(v-if="type == 1", :next.sync="next")
        renome-page(:prev="true", prevName="print", :next="next", nextName="block", :nStage="8")
</template>
<script>
export default {
  name: "manus",
  data() {
    return {
      img: "",
      next: false
    };
  },
  computed: {
    type() {
      return this.$store.state.manus.type;
    },
    dis() {
      return this.$store.getters.sumList < 48;
    }
  },
  watch: {
    type(val) {
      switch (val) {
        case -1:
          this.img = "";
          break;
        case 0:
          this.img = require("@/assets/soft-cover.png");
          break;
        case 1:
          this.img = require("@/assets/hard-cover.png");
          break;
        default:
          break;
      }
    }
  },
  methods: {
    clk(val) {
      if (this.dis && val == 1) return;
      this.$store.commit("setManusType", val);
    }
  },
  beforeMount() {
    if (this.$store.state.stage < 7) this.$router.replace("/");
  }
};
</script>
<style lang="sass" scoped>
.header
  display: flex
  justify-content: center
  width: 82%
  padding-top: 1em
img
  width: 10em
ul
  margin-left: .5em
li
  list-style-type: none
  padding-bottom: .2em
  letter-spacing: .11em
  color: #856C57
  cursor: pointer
.active
  margin-right: 15%
  color: #000
  &:before
    content: "•"
    color: #df630d
    font-size: 2.5em
    display: block
    float: left
    margin:
      top: -0.3em
      left: -13%
.disabled
    cursor: default
    color: #9c927b
</style>
