<template lang="pug">
    div
      renome-title(name="ПЕЧАТЬ", content="Необходимо указать количество страниц, цветность текста и выбрать тип бумаги. Если в книге предусмотрены иллюстрации, которые должны печататься отдельно от текста (вклейки, вкладки), — добавьте второй блок.")
      div.pageNum
        renome-sub(name="КОЛИЧЕСТВО СТРАНИЦ", content="Количество страниц в книге должно быть кратно 4.", :brd="false")
        input(type="number", :readonly="$store.state.maket.need", v-model.lazy="num")
      div.crc(v-if="!plus") Блок №1
      renome-sub(name="ЦВЕТНОСТЬ", content="1+1 — печать текста с двух сторон листа в одну краску<br><br>4+4 — полноцветная печать с двух сторон листа ", :tbl="false")
      ul
        li(@click="clk('1+1')", :class="{active: fstColor == '1+1'}") 1+1
        li(@click="clk('4+4')", :class="{active: fstColor == '4+4'}") 4+4
      renome-sub(name="Бумага", content=" Рекомендации по выбору бумаги<br><br>Для текстовых изданий:<br>офсетная бумага 65-80 г/м2; мелованная бумага 115–130 г/м2.<br><br>Для иллюстрированных изданий:<br>офсетная бумага 80-120 г/м2; мелованная бумага 115–150 г/м2.", :tbl="false")
      ul
        li
          span(@click="clk2(1)", :class="{active: fstPaper == 1}") офсетна
        li
          span(@click="clk2(2)", :class="{active: fstPaper == 2}") мелованная
      ul(v-if="fstPaper == 1")
        li(style="border-top: 1.5px black dotted; width: 50%; padding-top: 10px", :style="lockRo", @click="clp(true, 1)", :class="{active: ro == 1}") 65 г/м
          sup 2
        li(@click="clp(true, 2)", :class="{active: ro == 2}") 80 г/м
          sup 2
        li(@click="clp(true, 3)", :class="{active: ro == 3}") 100 г/м
          sup 2
        li(@click="clp(true, 4)", :class="{active: ro == 4}") 120 г/м
          sup 2
      ul(v-if="fstPaper == 2")
        li(style="border-top: 1.5px black dotted; width: 50%; padding-top: 10px", @click="clp(true, 1)", :class="{active: ro == 1}") 115 г/м
          sup 2
        li(@click="clp(true, 2)", :class="{active: ro == 2}") 130 г/м
          sup 2
        li(@click="clp(true, 3)", :class="{active: ro == 3}") 150 г/м
          sup 2
        li(@click="clp(true, 4)", :class="{active: ro == 4}") 170 г/м
          sup 2
        li(@click="clp(true, 5)", :class="{active: ro == 5}") 200 г/м
          sup 2
      div(v-if="!plus")
        div.pageNum
          renome-sub(name="КОЛИЧЕСТВО СТРАНИЦ", content="Количество страниц в книге должно быть кратно 4.", :brd="false", style="border-top: 2px black solid")
          input(type="number", min="0", v-model.lazy="num2")
        div.crc Блок №2
        renome-sub(name="ЦВЕТНОСТЬ", content="1+1 — печать текста с двух сторон листа в одну краску<br><br>4+4 — полноцветная печать с двух сторон листа ", :tbl="false")
        ul
          li
            span(@click="clk3('1+1')", :class="{active: scdColor == '1+1'}") 1+1
          li
            span(@click="clk3('4+4')", :class="{active: scdColor == '4+4'}") 4+4
        renome-sub(name="Бумага", content=" Рекомендации по выбору бумаги<br><br>Для текстовых изданий:<br>офсетная бумага 65-80 г/м2; мелованная бумага 115–130 г/м2.<br><br>Для иллюстрированных изданий:<br>офсетная бумага 80-120 г/м2; мелованная бумага 115–150 г/м2.", :tbl="false")
        ul
          li
            span(@click="clk4(1)", :class="{active: scdPaper == 1}") офсетная
          li
            span(@click="clk4(2)", :class="{active: scdPaper == 2}") мелованная
        ul(v-if="scdPaper == 1")
          li(style="border-top: 1.5px black dotted; width: 50%; padding-top: 10px", :style="lockRo", @click="clp(false, 1)", :class="{active: ro2 == 1}") 65 г/м
            sup 2
          li(@click="clp(false, 2)", :class="{active: ro2 == 2}") 80 г/м
            sup 2
          li(@click="clp(false, 3)", :class="{active: ro2 == 3}") 100 г/м
            sup 2
          li(@click="clp(false, 4)", :class="{active: ro2 == 4}") 120 г/м
            sup 2
        ul(v-if="scdPaper == 2")
          li(style="border-top: 1.5px black dotted; width: 50%; padding-top: 10px", @click="clp(false, 1)", :class="{active: ro2 == 1}") 115 г/м
            sup 2
          li(@click="clp(false, 2)", :class="{active: ro2 == 2}") 130 г/м
            sup 2
          li(@click="clp(false, 3)", :class="{active: ro2 == 3}") 150 г/м
            sup 2
          li(@click="clp(false, 4)", :class="{active: ro2 == 4}") 170 г/м
            sup 2
          li(@click="clp(false, 5)", :class="{active: ro2 == 5}") 200 г/м
            sup 2
      renome-add(:plus.sync="plus", name="добавить блок (вкладки, вклейки)", content="Если в книге предусмотрены иллюстрации, которые должны печататься отдельно от текста (вклейки, вкладки), — добавьте второй блок.")
      renome-page(:prev="true", prevName="disain", :next="next", nextName="manus", :nStage="7")
</template>
<script>
export default {
  name: "print",
  data() {
    return {
      plus: true
    };
  },
  watch: {
    plus(val) {
      this.$store.commit("setScd", !val);
    }
  },
  computed: {
    next() {
      if (this.num == 0) return false;
      if (!this.$store.state.print.init)
        return (
          this.num > 0 &&
          this.fstColor != "" &&
          this.fstPaper != "" &&
          this.ro != -1
        );
      else
        return (
          this.num > 0 &&
          this.fstColor != "" &&
          this.fstPaper != "" &&
          this.ro != -1 &&
          this.scdColor != "" &&
          this.scdPaper != "" &&
          this.ro2 != -1 &&
          this.num2 > 0
        );
    },
    num: {
      get() {
        return this.$store.state.num;
      },
      set(val) {
        this.$store.commit("setNum", val);
      }
    },
    fstColor() {
      return this.$store.state.print.fst.color;
    },
    fstPaper() {
      return this.$store.state.print.fst.paper;
    },
    fstLock() {
      return !this.$store.state.maket.need;
    },
    lockRo() {
      if (this.$store.getters.lock65)
        return { color: "#9c927b !important", cursor: "defult" };
      else if (this.ro != 1) return { color: "#856C57", cursor: "pointer" };
      else return { color: "#000", cursor: "pointer" };
    },
    ro() {
      return this.$store.state.print.fst.ro;
    },
    scdColor() {
      return this.$store.state.print.scd.color;
    },
    scdPaper() {
      return this.$store.state.print.scd.paper;
    },
    num2: {
      get() {
        return this.$store.state.print.scd.num;
      },
      set(val) {
        this.$store.commit("setScdNum", Number.parseInt(val));
      }
    },
    ro2() {
      return this.$store.state.print.scd.ro;
    }
  },
  methods: {
    clk(val) {
      this.$store.commit("setFstColor", val);
    },
    clk2(val) {
      this.$store.commit("setFstPaper", val);
      this.$store.commit("setFstRo", -1);
    },
    clk3(val) {
      this.$store.commit("setScdColor", val);
    },
    clk4(val) {
      this.$store.commit("setScdPaper", val);
      this.$store.commit("setScdRo", -1);
    },
    clp(num, val) {
      if (val == 1 && this.$store.getters.lock65) return;
      if (num) this.$store.commit("setFstRo", val);
      else this.$store.commit("setScdRo", val);
    }
  },
  mounted() {
    if (this.$store.state.stage < 6) this.$router.replace("/");
  }
};
</script>
<style lang="sass" scoped>
.crc
  display: block
  position: relative
  font-size: 1.1em
  width: 59px
  height: 50px
  border-radius: 34px
  border: 3px #856C57 dotted
  background-color: #fff
  float: left
  text-align: center
  color: #856C57
  margin-right: -1em
  padding-top: 10px
  top: -3em
  left: -3em
  @media (max-width: 1440px)
    width: 54px
    height: 44px

.pageNum
    display: flex
    align-items: center
    width: 124%
input
    border: 2px #856c57 dotted
    width: 20%
    background-color: #F3F1E4
    height: 1.6em
    margin-left: 30px
    padding-bottom: 2px
    margin-right: 2.5%
    &:focus
        border: 2px #856C57 solid
        background-color: #FFF
        outline: none
ul
  margin-left: .5em
li
  list-style-type: none
  padding-bottom: .2em
  letter-spacing: .11em
  color: #856C57
  cursor: pointer
.active
  margin-right: 15%
  color: #000
  &:before
    content: "•"
    color: #df630d
    font-size: 2.5em
    display: block
    float: left
    margin:
      top: -0.3em
      left: -13%
</style>
