<template lang="pug">
    div
        renome-title(name="ТИРАЖ", content="Количество экземпляров печатного издания одного наименования.<br>Наша типография печатает книги от 1 экземпляра цифровым и офсетным способами. Калькулятор, в зависимости от указанного тиража, самостоятельно выбирает экономичный способ печати. ")
        div.inp
            input(type="number", min="0", v-model="tir")
            |  экз.
        renome-page(:prev="prev", prevName="format", :next="next", nextName="isbn", :nStage="3")
</template>
<script>
export default {
  name: "Tiraj",
  computed: {
    tir: {
      get() {
        return this.$store.state.tiraj;
      },
      set(val) {
        if (parseInt(val, 10) <= 0) {
          this.$store.commit("setTiraj", 0);
          this.next = false;
        } else {
          this.$store.commit("setTiraj", val);
          this.next = true;
        }
      }
    }
  },
  data: () => {
    return {
      prev: true,
      next: false
    };
  },
  mounted() {
    if (this.$store.state.stage < 2) this.$router.replace("/");
    this.next = this.$store.state.tiraj > 0;
  }
};
</script>
<style lang="sass" scoped>
.inp
    margin-top: 2em
    margin-left: 3em
    margin-bottom: 5em
input
    border: 2px #856c57 dotted
    width: 30%
    background-color: #F3F1E4
    height: 1.6em
    padding-left: 10px
    padding-bottom: 2px
    margin-right: 2.5%
    &:focus
        border: 2px #856C57 solid
        background-color: #FFF
        outline: none
</style>
