<template lang="pug">
div
    renome-sub(name="Цветность", content="Обложка может быть запечатана с внешней и внутренней стороны.<br>1+0 — внешняя сторона запечатана одной краской, внутренняя сторона не запечатана<br>4+0 — внешняя сторона полноцветная, внутренняя сторона не запечатана<br>4+1 — внешняя сторона полноцветная, внутренняя сторона запечатана одной краской<br>4+4 — внешняя и внутренняя стороны полноцветные.")
    ul
        li(@click="clr('1+0')", :class="{active: color=='1+0'}") 1+0
        li(@click="clr('2+0')", :class="{active: color=='2+0'}") 2+0
        li(@click="clr('4+0')", :class="{active: color=='4+0'}") 4+0
    renome-sub(name="Ламинация обложки", content="Защитное покрытие обложки матовой или глянцевой пленкой. При выборе ламинации следует учесть, что глянцевая пленка придает изображению более контрастный вид, при этом появляется эффект бликов, матовая пленка приглушает цвета, блики отсутствуют.")
    ul
        li(@click="clm(2)", :class="{active: lam==2}") глянцевая
        li(@click="clm(3)", :class="{active: lam==3}") матовая
    renome-sub(name="Тип корешка")
    ul
        li(@click="ctp(1)", :class="{active: type == 1}") прямой
        li(@click="ctp(2)", :class="{active: type == 2, disable: lockRound}") кругленый
    div.header
        img(src="@/assets/straight-spine.png", v-if="type == 1")
        img(src="@/assets/round-spine.png", v-if="type == 2")
    renome-sub(name="Форзацы", content="Форзац — сфальцованный лист плотной бумаги, соединяющий блок с переплетной крышкой. Одновременно является элементом оформления книги. Различают передний и задний форзацы. Если в книге предусмотрены запечатанные форзацы — выберите цветность печати и укажите, одинаковые форзацы или разные.")
    ul
        li(@click="cftp(1)", :class="{active: fType == 1}") незапечатываемые
        li(@click="cftp(2)", :class="{active: fType == 2}") запечатываемые
    ul(v-if="fType == 2")
        li(@click="cfclr('1+0')", :class="{active: fColor == '1+0'}", style="border-top: 1.5px dotted black; width: 50%") 1+0
        li(@click="cfclr('1+1')", :class="{active: fColor == '1+1'}") 1+1
        li(@click="cfclr('4+0')", :class="{active: fColor == '4+0'}") 4+0
        li(@click="cfclr('4+4')", :class="{active: fColor == '4+4'}") 4+4
    ul(v-if="fType == 2")
        li(@click="cfsm(1)", :class="{active: fSame == 1}", style="border-top: 1.5px dotted black; width: 50%") одинаковые
        li(@click="cfsm(2)", :class="{active: fSame == 2}") разные
    renome-sub(name="Ляссе", content="Ленточка-закладка, приклеивается к верхней части корешка книжного блока, свободный конец вкладывается между листами и выступает за нижний обрез книги. В качестве ляссе используется узкая тесьма различных цветов.")
    ul
        li(@click="clss(1)", :class="{active: lasse == 1}") требуется
        li(@click="clss(0)", :class="{active: lasse == 0}") не требуется
    div.header
        img(src="@/assets/lissa.png", v-if="lasse == 1")
</template>
<script>
import { mapState } from "vuex";
export default {
  name: "hard-man",
  props: {
    next: {
      type: Boolean
    }
  },
  computed: {
    ...mapState({
      color: state => state.hard.color,
      lam: state => state.hard.lam,
      type: state => state.hard.type,
      fType: state => state.hard.fType,
      fColor: state => state.hard.fColor,
      fSame: state => state.hard.fSame,
      lasse: state => state.hard.lasse
    }), 
    ...mapGetters(["lockRound"]),
    num() {
      return this.$store.getters.sumList;
    },
    complete() {
      return (
        this.$store.state.hard !== undefined &&
        this.color != -1 &&
        this.lam != -1 &&
        this.type != -1 &&
        ((this.fType == 2 && this.fColor != -1 && this.fSame != -1) ||
          this.fType == 1) &&
        this.lasse != -1
      );
    }
  },
  watch: {
    complete(val, pVal) {
      if (val != pVal) this.$emit("update:next", val);
    }
  },
  methods: {
    clr(val) {
      this.$store.commit("hard/setColor", val);
    },
    clm(val) {
      this.$store.commit("hard/setLam", val);
    },
    ctp(val) {
      if (this.num < 300 && val == 2) return;
      this.$store.commit("hard/setType", val);
    },
    cftp(val) {
      this.$store.commit("hard/setFType", val);
    },
    cfclr(val) {
      this.$store.commit("hard/setFColor", val);
    },
    cfsm(val) {
      this.$store.commit("hard/setFSame", val);
    },
    clss(val) {
      this.$store.commit("hard/setLasse", val);
    }
  },
  beforeMount() {
    if (this.$store.state.hard === undefined)
      this.$store.registerModule("hard", {
        namespaced: true,
        state: {
          color: "",
          lam: -1,
          type: -1,
          fType: -1,
          fColor: -1,
          fSame: -1,
          lasse: -1
        },
        mutations: {
          setColor(state, val) {
            state.color = val;
          },
          setLam(state, val) {
            state.lam = val;
          },
          setFType(state, val) {
            if (val == 0) {
              state.fColor = -1;
              state.fSame = -1;
            }
            state.fType = val;
          },
          setType(state, val) {
            state.type = val;
          },
          setFColor(state, val) {
            state.fColor = val;
          },
          setFSame(state, val) {
            state.fSame = val;
          },
          setLasse(state, val) {
            state.lasse = val;
          }
        }
      });
  },
  beforeDestroy() {
    if (this.$store.state.manus.type != 1) this.$store.unregisterModule("hard");
  }
};
</script>
<style lang="sass" scoped>
.header
  display: flex
  justify-content: center
  width: 50%
  padding-bottom: 1em
  margin-left: 3em
  img
    width: 10em
ul
  margin-left: .5em
  margin-bottom: .5em
li
  list-style-type: none
  padding-bottom: .2em
  letter-spacing: .11em
  color: #856C57
  cursor: pointer
.disabled
  color: #9c927b !important
  cursor: defult
.active
  margin-right: 15%
  color: #000
  &:before
    content: "•"
    color: #df630d
    font-size: 2.5em
    display: block
    float: left
    margin:
      top: -0.3em
      left: -13%
</style>
