<template lang="pug">
div
    renome-sub(name="Цветность", content="Обложка может быть запечатана с внешней и внутренней стороны.<br>1+0 — внешняя сторона запечатана одной краской, внутренняя сторона не запечатана<br>4+0 — внешняя сторона полноцветная, внутренняя сторона не запечатана<br>4+1 — внешняя сторона полноцветная, внутренняя сторона запечатана одной краской<br>4+4 — внешняя и внутренняя стороны полноцветные.")
    ul
        li(@click="color('1+0')", :class="{active: clr=='1+0'}") 1+0
        li(@click="color('2+0')", :class="{active: clr=='2+0'}") 2+0
        li(@click="color('4+0')", :class="{active: clr=='4+0'}") 4+0
        li(@click="color('4+1')", :class="{active: clr=='4+1'}") 4+1
        li(@click="color('4+4')", :class="{active: clr=='4+4'}") 4+4
    renome-sub(name="Материал для<br>обложки", content="Рекомендации по выбору материала для обложки<br><br>Брошюры 16-48 стр. — мелованная бумага 150-250 г/м<sup>2</sup>.<br>Книги до 200 стр. — мелованная бумага 250-300 г/м<sup>2</sup> ; картон 200-240 г/м<sup>2</sup>.<br>Книги 200-500 стр. — картон 240-300 г/м<sup>2</sup> ")
    ul
        li(@click="mater(1)", :class="{active: mtr==1}") Мелованная бумага
        li(@click="mater(2)", :class="{active: mtr==2}") Гладкий картон
        li(@click="mater(3)", :class="{active: mtr==3, disabled: lock}") Картон с тиснением
    ul(v-if="mtr == 1")
        li(@click="cro(1)", :class="{active: ro == 1}", style="border-top: 1.5px dotted black; width: 50%") 130 г/м
            sup 2
        li(@click="cro(2)", :class="{active: ro == 2}", ) 150 г/м
            sup 2
        li(@click="cro(3)", :class="{active: ro == 3}", ) 170 г/м
            sup 2
        li(@click="cro(4)", :class="{active: ro == 4}", ) 200 г/м
            sup 2
        li(@click="cro(5)", :class="{active: ro == 5}", ) 250 г/м
            sup 2
        li(@click="cro(6)", :class="{active: ro == 6}", ) 300 г/м
            sup 2
    ul(v-if="mtr == 2")
        li(@click="cro(1)", :class="{active: ro == 1}", style="border-top: 1.5px dotted black; width: 50%") 200 г/м
            sup 2
        li(@click="cro(2)", :class="{active: ro == 2}") 240 г/м
            sup 2
        li(@click="cro(3)", :class="{active: ro == 3}") 280 г/м
            sup 2
        li(@click="cro(4)", :class="{active: ro == 4}") 300 г/м
            sup 2
    ul(v-if="mtr == 3")
        li(@click="cro(1)", :class="{active: ro == 1}", style="border-top: 1.5px dotted black; width: 50%") 240 г/м
            sup 2
        li(@click="cro(2)", :class="{active: ro == 2}") 260 г/м
            sup 2
    renome-sub(name="Ламинация", content="Защитное покрытие обложки матовой или глянцевой пленкой.<br>При выборе ламинации следует учесть, что глянцевая пленка придает изображению более контрастный вид, при этом появляется эффект бликов, матовая пленка приглушает цвета, блики отсутствуют. При изготовление книг в твердом переплете — ламинация обязательна.")
    ul
        li(@click="clm(2)", :class="{active: lam == 2}") глянцевая
        li(@click="clm(3)", :class="{active: lam == 3}") матовая
        li(@click="clm(1)", :class="{active: lam == 1}") не требуется

</template>
<script>
export default {
  name: "soft-man",
  props: {
    next: {
      type: Boolean
    }
  },
  computed: {
    clr() {
      return this.$store.state.soft.color;
    },
    mtr() {
      return this.$store.state.soft.material;
    },
    ro() {
      return this.$store.state.soft.ro;
    },
    lam() {
      return this.$store.state.soft.lam;
    },
    lock() {
      return this.$store.getters.lockKart;
    },
    complete() {
      return (
        this.$store.state.soft !== undefined &&
        this.clr != "" &&
        this.mtr != -1 &&
        this.ro != -1 &&
        this.lam != -1
      );
    }
  },
  watch: {
    complete(val, pVal) {
      if (val != pVal) this.$emit("update:next", val);
    }
  },
  methods: {
    color(val) {
      this.$store.commit("soft/setColor", val);
    },
    mater(val) {
      this.$store.commit("soft/setMaterial", [val, this.$store.state.tiraj]);
    },
    cro(val) {
      this.$store.commit("soft/setRo", val);
    },
    clm(val) {
      this.$store.commit("soft/setLam", val);
    }
  },
  beforeMount() {
    if (this.$store.state.soft === undefined)
      this.$store.registerModule("soft", {
        namespaced: true,
        state: {
          color: "",
          material: -1,
          ro: -1,
          lam: -1
        },
        mutations: {
          setColor(state, val) {
            state.color = val;
          },
          setMaterial(state, val) {
            if (Number.parseInt(val[1]) <= 100 && val[0] == 3) return;
            state.material = val[0];
            state.ro = -1;
          },
          setRo(state, val) {
            state.ro = val;
          },
          setLam(state, val) {
            state.lam = val;
          }
        }
      });
  },
  beforeDestroy() {
    if (this.$store.state.manus.type != 0) this.$store.unregisterModule("soft");
  }
};
</script>
<style lang="sass" scoped>
ul
  margin-left: .5em
li
  list-style-type: none
  padding-bottom: .2em
  letter-spacing: .11em
  color: #856C57
  cursor: pointer
.disabled
  color: #9c927b !important
  cursor: defult
.active
  margin-right: 15%
  color: #000
  &:before
    content: "•"
    color: #df630d
    font-size: 2.5em
    display: block
    float: left
    margin:
      top: -0.3em
      left: -13%
</style>
